header {
    position:fixed;
    width: 100vw;
    height: 10vh;
    z-index: 1000;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0 50px;
}